In [11]:
# importing Dependencies
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [12]:
# Reading/importing csv file
# Printing csv file
species = "../Resources/National_Parks_Species.csv"
species_df = pd.read_csv(species, keep_default_na=False)
species_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,,
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,,,
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,,Species of Concern,
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,,,Endangered,
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,,

In [13]:
# Dropping unwanted columns
# Printing the new DataFrame
species_df = species_df.drop(columns=['Order', 'Family', 'Record Status', 'Nativeness', 'Seasonality', 'Conservation Status', 'Unnamed: 13'])
species_df.head()

,Species ID,Park Name,Category,Scientific Name,Common Names,Occurrence,Abundance
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Moose,Present,Rare
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Abundant
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,"Coyote, Eastern Coyote",Present,Common
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Not Confirmed,
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Present,Common

In [14]:
# Keeping species that are only "Present" - Keeping rows where value in "Occurrence" column is equal to "Present"
# Printing new DataFrame
species_df = species_df.loc[species_df['Occurrence'] == 'Present']
species_df.head()

,Species ID,Park Name,Category,Scientific Name,Common Names,Occurrence,Abundance
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Moose,Present,Rare
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Abundant
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,"Coyote, Eastern Coyote",Present,Common
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Present,Common
8,ACAD-1008,Acadia National Park,Mammal,Lutra canadensis,"Otter, River Otter",Present,Common

In [15]:
# Renaming columns
species_df = species_df.rename(columns={'Species ID': 'species_id', 'Park Name': 'park_name', 'Category': 'category', 'Scientific Name': 'scientific_name', 'Occurrence': 'occurrence', 'Common Names':'common_names', 'Occurence':'occurence', 'Abundance':'abundance'})
species_df.head()

,species_id,park_name,category,scientific_name,common_names,occurrence,abundance
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Moose,Present,Rare
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Abundant
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,"Coyote, Eastern Coyote",Present,Common
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Present,Common
8,ACAD-1008,Acadia National Park,Mammal,Lutra canadensis,"Otter, River Otter",Present,Common

In [16]:
# Checking for duplicates
# No duplicates
species_df.duplicated()

0         False
1         False
2         False
4         False
8         False
          ...
119243    False
119244    False
119245    False
119246    False
119247    False
Length: 83278, dtype: bool

In [17]:
# Resetting index
# Printing new DataFrame
species_df = species_df.reset_index(drop=True)
species_df.head()

,species_id,park_name,category,scientific_name,common_names,occurrence,abundance
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Moose,Present,Rare
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Abundant
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,"Coyote, Eastern Coyote",Present,Common
3,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Present,Common
4,ACAD-1008,Acadia National Park,Mammal,Lutra canadensis,"Otter, River Otter",Present,Common

In [18]:
# Renaming the index to "id"
# Printing the new DataFrame
species_df.index.name = 'id'
species_df.head()

,species_id,park_name,category,scientific_name,common_names,occurrence,abundance
id,,,,,,,
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Moose,Present,Rare
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Abundant
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,"Coyote, Eastern Coyote",Present,Common
3,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Present,Common
4,ACAD-1008,Acadia National Park,Mammal,Lutra canadensis,"Otter, River Otter",Present,Common

In [19]:
# Creating database connection
connection_string = "postgres:postgres@localhost:5432/national_parks_db"
engine = create_engine(f'postgresql://{connection_string}')

In [21]:
# Loading DataFrame into database
species_df.to_sql(name='species', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_species"
DETAIL:  Key (id)=(0) already exists.

[SQL: INSERT INTO species (id, species_id, park_name, category, scientific_name, common_names, occurrence, abundance) VALUES (%(id)s, %(species_id)s, %(park_name)s, %(category)s, %(scientific_name)s, %(common_names)s, %(occurrence)s, %(abundance)s)]
[parameters: ({'id': 0, 'species_id': 'ACAD-1000', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Alces alces', 'common_names': 'Moose', 'occurrence': 'Present', 'abundance': 'Rare'}, {'id': 1, 'species_id': 'ACAD-1001', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Odocoileus virginianus', 'common_names': 'Northern White-Tailed Deer, Virginia Deer, White-Tailed Deer', 'occurrence': 'Present', 'abundance': 'Abundant'}, {'id': 2, 'species_id': 'ACAD-1002', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Canis latrans', 'common_names': 'Coyote, Eastern Coyote', 'occurrence': 'Present', 'abundance': 'Common'}, {'id': 3, 'species_id': 'ACAD-1004', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Vulpes vulpes', 'common_names': 'Black Fox, Cross Fox, Eastern Red Fox, Fox, Red Fox, Silver Fox', 'occurrence': 'Present', 'abundance': 'Common'}, {'id': 4, 'species_id': 'ACAD-1008', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Lutra canadensis', 'common_names': 'Otter, River Otter', 'occurrence': 'Present', 'abundance': 'Common'}, {'id': 5, 'species_id': 'ACAD-1009', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Martes pennanti', 'common_names': 'Blackcat, Fisher, Pekan', 'occurrence': 'Present', 'abundance': 'Rare'}, {'id': 6, 'species_id': 'ACAD-1011', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Mustela erminea', 'common_names': "Bonaparte Weasel, Bonaparte's Weasel, Ermine, Short-Tailed Weasel", 'occurrence': 'Present', 'abundance': 'Uncommon'}, {'id': 7, 'species_id': 'ACAD-1012', 'park_name': 'Acadia National Park', 'category': 'Mammal', 'scientific_name': 'Mustela frenata', 'common_names': 'Long-Tailed Weasel, New York Weasel, Northern Long-Tailed Weasel', 'occurrence': 'Present', 'abundance': 'Uncommon'}  ... displaying 10 of 83278 total bound parameter sets ...  {'id': 83276, 'species_id': 'ZION-2794', 'park_name': 'Zion National Park', 'category': 'Vascular Plant', 'scientific_name': 'Larrea tridentata', 'common_names': 'Creosote Bush', 'occurrence': 'Present', 'abundance': 'Rare'}, {'id': 83277, 'species_id': 'ZION-2795', 'park_name': 'Zion National Park', 'category': 'Vascular Plant', 'scientific_name': 'Tribulus terrestris', 'common_names': 'Puncture Vine', 'occurrence': 'Present', 'abundance': 'Uncommon'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)