In [184]:
import pandas as pd
from sqlalchemy import create_engine
from ast import literal_eval

In [185]:
csv_file = "../Resources/National Park Trail Data.csv"
trail_df = pd.read_csv(csv_file)
trail_df['_geoloc'] = trail_df['_geoloc'].astype('str').apply(literal_eval)
display(trail_df[trail_df['area_name'] == 'Clayton Co International Park, Jonesboro GA'])
display(trail_df[trail_df['area_name'] == 'Fort Hunt National Park'])
display(trail_df[trail_df['area_name'] == 'Wolf Trap National Park for the Performing Arts'])
trail_df.drop([1219,2475,2618,2629,2524],inplace=True)
trail_df.reset_index(inplace=True,drop=True)

replace_dict = {'Great Sand Dunes National Park and Preserve':'Great Sand Dunes National Park',
 'Congaree National Park Wilderness':'Congaree National Park',
 'Hawaii Volcanoes National Park':"Hawai'i Volcanoes National Park",
 'Haleakala National Park':"Haleakalā National Park"}

trail_df.replace(replace_dict,inplace=True)

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
1219,10259207,Clayton County International Park Trail,"Clayton Co International Park, Jonesboro GA",Jonesboro,Georgia,United States,"{'lat': 33.5312, 'lng': -84.31568}",4.7291,2574.944,36.8808,3,loop,1.0,4.0,26,"['dogs-leash', 'forest', 'kids', 'views', 'wil...","['birding', 'hiking', 'mountain-biking', 'natu...",i

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
2475,10018025,Mount Vernon Trail,Fort Hunt National Park,Mount Vernon,Virginia,United States,"{'lat': 38.7108, 'lng': -77.08579}",12.0866,29611.856,188.9760,1,out and back,2.0,4.0,118,"['ada', 'dogs-leash', 'kids', 'paved', 'river'...","['birding', 'hiking', 'nature-trips', 'road-bi...",i
2618,10407795,Fort Hunt Park Main Loop,Fort Hunt National Park,Alexandria,Virginia,United States,"{'lat': 38.71518, 'lng': -77.05732}",1.8554,2092.142,9.7536,1,loop,2.0,4.0,4,"['dogs-leash', 'kids', 'paved', 'strollers']","['nature-trips', 'road-biking', 'walking']",i
2629,10407786,Fort Hunt Park Short Loop,Fort Hunt National Park,Alexandria,Virginia,United States,"{'lat': 38.71507, 'lng': -77.05733}",0.8215,1126.538,3.9624,1,loop,2.0,2.0,2,"['dogs-leash', 'kids', 'paved', 'strollers']","['nature-trips', 'road-biking', 'walking']",i

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
2524,10257350,Wolf Trap Loop Trail,Wolf Trap National Park for the Performing Arts,Vienna,Virginia,United States,"{'lat': 38.93672, 'lng': -77.26292}",7.1119,2896.812,43.8912,1,loop,1.0,4.5,43,"['dogs-leash', 'forest', 'kids', 'river']","['hiking', 'nature-trips', 'walking']",i

In [186]:
trail_df.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [187]:
features_df=trail_df[['trail_id','area_name','features']]

In [188]:
features_df['features'] = features_df['features'].astype('str').apply(literal_eval)
features_df = features_df.explode('features')

<ipython-input-188-f3a7cb2bf4fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['features'] = features_df['features'].astype('str').apply(literal_eval)

In [189]:
features_df.dropna(inplace=True)
features_df.reset_index(inplace=True, drop=True)
features_df.rename(columns={'area_name':'park_name'},inplace=True)

In [190]:
features_df.head()

   trail_id                   park_name   features
0  10020048  Kenai Fjords National Park    dogs-no
1  10020048  Kenai Fjords National Park     forest
2  10020048  Kenai Fjords National Park      river
3  10020048  Kenai Fjords National Park      views
4  10020048  Kenai Fjords National Park  waterfall

In [191]:
activities_df=trail_df[['trail_id','area_name','activities']]

In [192]:
activities_df['activities'] = activities_df['activities'].astype('str').apply(literal_eval)
activities_df = activities_df.explode('activities')
activities_df.dropna(inplace=True)
activities_df.reset_index(inplace=True, drop=True)
activities_df.rename(columns={'area_name':'park_name'},inplace=True)
activities_df.head()

<ipython-input-192-6185445fad29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activities_df['activities'] = activities_df['activities'].astype('str').apply(literal_eval)

   trail_id                   park_name     activities
0  10020048  Kenai Fjords National Park        birding
1  10020048  Kenai Fjords National Park        camping
2  10020048  Kenai Fjords National Park         hiking
3  10020048  Kenai Fjords National Park   nature-trips
4  10020048  Kenai Fjords National Park  trail-running

In [193]:
trail_df_clean = trail_df.drop(columns=['features','activities'])

In [194]:
trail_df_clean.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,i

In [195]:
trail_df_clean['latitude'] = ''
trail_df_clean['longitude'] = ''
for i,row in trail_df_clean.iterrows():
    trail_df_clean.iloc[i,16] = trail_df_clean.iloc[i,6]['lat']
    trail_df_clean.iloc[i,17] = trail_df_clean.iloc[i,6]['lng']

In [196]:
trail_df_clean.drop(columns='_geoloc',inplace=True)

In [197]:
trail_df_clean.dropna(inplace=True,)

In [198]:
trail_df_clean.reset_index(inplace=True, drop=True)

In [199]:
trail_df_clean.rename(columns={'name':'trail_name','city_name':'city','area_name':'park_name','state_name':'state','country_name':'country'},inplace=True)

In [200]:
trail_df_clean.head()

,trail_id,trail_name,park_name,city,state,country,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,units,latitude,longitude
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,i,60.1885,-149.632
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,i,63.7305,-148.92
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,i,60.1888,-149.631
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,i,63.7366,-148.915
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,i,63.7332,-148.897

In [201]:
activities_df['id'] = activities_df.index + 1
features_df['id'] = features_df.index +1

In [202]:
# # Create connection string to database
# connection_string = "postgres:postgres@localhost:5432/national_parks_db"
# engine = create_engine(f'postgresql://{connection_string}')

In [203]:
# # Load the database
# trail_df_clean.to_sql(name='park_trails', con=engine, if_exists='append', index=True)
# activities_df.to_sql(name='trail_activities', con=engine, if_exists='append', index=True)
# features_df.to_sql(name='trail_features', con=engine, if_exists='append', index=True)